# Flask and Flask extensions
Flask
Flask-Admin
Flask-Bcrypt
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
# Database and System
ipython
psycopg2
redis
supervisor
uwsgi
