<!DOCTYPE html>
<!-- extend base layout -->
{% extends "base.html" %}
{% block title %}Login page{% endblock %}
{% block content %}
<div class="container">
<form class="form-signin" action="" method="post" name="login">
<h2 class="form-signin-heading">Please sign in</h2>
    {{form.hidden_tag()}}
    <p>
        {{form.username(placeholder="Username", autofocus=true, class="form-control")}}
    </p>
    <p>
        {{form.password(placeholder="Password", class="form-control")}}
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></p>
</form>
</div>
{% endblock %}
